<a href="https://colab.research.google.com/github/augustofps/oficina-de-github/blob/main/Projeto_BD_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Seção 1: Importar bibliotecas e conectar ao banco

In [1]:
import sqlite3

conn = sqlite3.connect(':memory:')  # ou 'projeto.db' para salvar em arquivo
cursor = conn.cursor()
cursor.execute("PRAGMA foreign_keys = ON;")  # Ativa as chaves estrangeiras

Seção 2: Criação das tabelas

In [ ]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS pessoas (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS produtos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        descricao TEXT NOT NULL,
        estoque INTEGER,
        preco REAL
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS vendas (
        id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
        id_pessoa INTEGER,
        id_produto INTEGER,
        quantidade INTEGER,
        FOREIGN KEY (id_pessoa) REFERENCES pessoas(id),
        FOREIGN KEY (id_produto) REFERENCES produtos(id)
    );
''')
conn.commit()

Seção 3: Inserção de dados

In [ ]:
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Maria', 30);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('João', 25);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Ana', 40);")

cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caneta', 100, 1.50);")
cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caderno', 50, 6.50);")
conn.commit()

Seção 4: Inserção de vendas e consultas

In [ ]:
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (1, 1, 10);")
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (2, 2, 2);")
conn.commit()

cursor.execute('''
    SELECT v.id_venda, p.nome, pr.descricao, v.quantidade
    FROM vendas v
    JOIN pessoas p ON v.id_pessoa = p.id
    JOIN produtos pr ON v.id_produto = pr.id;
''')
results = cursor.fetchall()
for row in results:
    print(row)

Seção 5: Encerramento

In [ ]:
conn.close()